<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>13BBEC8D-A0EB-4AEA-A535-9A95B5DC0F63</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EA56F87B-E3BC-4482-A7B7-2686FD17FFF0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3015EA68-26B1-4751-BFFB-EBE64FA4F4E5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>13BBEC8D-A0EB-4AEA-A535-9A95B5DC0F63</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>79C59B38-AFFF-40F0-9AD7-2490D4DFDC25</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3015EA68-26B1-4751-BFFB-EBE64FA4F4E5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EA56F87B-E3BC-4482-A7B7-2686FD17FFF0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>ADAD7966-9859-4325-990E-E7034A78D810</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F3CA8F6E-4BF5-4CA6-9157-0F1B906C0776</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>79C59B38-AFFF-40F0-9AD7-2490D4DFDC25</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string></string>
	<key>description</key>
	<string>Launches Alacritty and pastes the query as a command</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Alacritty</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>$</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Run in Alacritty</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>F3CA8F6E-4BF5-4CA6-9157-0F1B906C0776</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>13BBEC8D-A0EB-4AEA-A535-9A95B5DC0F63</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/System/Volumes/Data/Applications/Alacritty.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>79C59B38-AFFF-40F0-9AD7-2490D4DFDC25</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>count</key>
				<integer>1</integer>
				<key>keychar</key>
				<string>↩</string>
				<key>keycode</key>
				<integer>36</integer>
				<key>keymod</key>
				<integer>0</integer>
				<key>overridewithargument</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.dispatchkeycombo</string>
			<key>uid</key>
			<string>ADAD7966-9859-4325-990E-E7034A78D810</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>seconds</key>
				<string>0.2</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.delay</string>
			<key>uid</key>
			<string>3015EA68-26B1-4751-BFFB-EBE64FA4F4E5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>seconds</key>
				<string>0.2</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.delay</string>
			<key>uid</key>
			<string>EA56F87B-E3BC-4482-A7B7-2686FD17FFF0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>13BBEC8D-A0EB-4AEA-A535-9A95B5DC0F63</key>
		<dict>
			<key>xpos</key>
			<integer>400</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>3015EA68-26B1-4751-BFFB-EBE64FA4F4E5</key>
		<dict>
			<key>xpos</key>
			<integer>330</integer>
			<key>ypos</key>
			<integer>70</integer>
		</dict>
		<key>79C59B38-AFFF-40F0-9AD7-2490D4DFDC25</key>
		<dict>
			<key>xpos</key>
			<integer>180</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>ADAD7966-9859-4325-990E-E7034A78D810</key>
		<dict>
			<key>xpos</key>
			<integer>620</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>EA56F87B-E3BC-4482-A7B7-2686FD17FFF0</key>
		<dict>
			<key>xpos</key>
			<integer>550</integer>
			<key>ypos</key>
			<integer>70</integer>
		</dict>
		<key>F3CA8F6E-4BF5-4CA6-9157-0F1B906C0776</key>
		<dict>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>0.1</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
